* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

ul,
li {
    list-style: none;
}

@media (min-width: 768px) {
    #lesson-wrapper input {
        min-width: 130px;
    }
    body{
        font-size: 20px;
    }
}